@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

header h1 {
   background-color: white;
   text-align: center;
   margin: 0;
   padding-bottom: 20px;
   padding-top: 20px;
}

.navbar-brand {
   font-size: 32px;
   font-family: 'Ubuntu', sans-serif;
   margin-left: 40px;
   margin-right: 250px;
}

nav {
   box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
   width: 100%;
   background-color: white;
   position: sticky;
   top: 0;
}

nav ul{
   margin: 0;
   padding: 20px;
}

nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}

nav a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   font-weight: 400;
   text-decoration: none;
   color: black;
}

header {
   display: inline;
   background-color: white;
}

.jumbotron {
   background: url(../images/jumbotron-bg.jpg);
   background-size: cover;
   width: 100%;
   height: 740px;
   margin-top: -115px;
   position: relative;
   z-index: -1;
}


.display-text {
   font-size:4.5em;
   font-weight:700;
   margin-top: 50%;
   margin-left: 10%;
}

.flex-column {
   display: flex;
   flex-direction: column;
  
}

.flex-row-manfaat {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   width: 880px;
   margin-left: 15%;

}



.card {
   flex-grow: 1;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 16px;
   margin-top: 20px;
   margin-left: 20px;
   margin-bottom: 20px;
}

.card img {
   width: 100%;
}

.card h4 {
    margin-top: 20px;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.flex-column h2 {
   text-align: center;
}

.flex-column p {
   text-align: center;

}


.manfaat {
   margin-top: 120px;
}

.container-kalkulator {
   margin-top: 130px;
}

.container-kalkulator h2 {
   text-align: center;
}

.container-kalkulator p {
   text-align: center;
}

.kalkulator {
   margin-top: 120px;
}

.jumbotron .container {
   margin-top: 155px;
   margin-left: 40px;
   font-size: 2.5em;
   width: 455px;
   float: left;
}
.container {
   width: 100%;
   margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
}
.manfaat h2 {
   text-align: center;
}

.manfaat .container {
   display: flex;
 
           /* Properti lainnya */
           width: 90%;
           height: 500px;
           margin-top: 40px;
}

.manfaat .box {
           flex-grow: 1;
           max-width: 50%;
           /* properti lainnya */
           margin: 5px;
}

.img-manfaat {
   width: 100%;
}

.col-manfaat-1 {
           width: 100%;
           padding: 10px;
           margin-left: 40px;
           overflow: auto;
}

.col-manfaat-1 img {
           float: left;
           padding: 10px;
}

.col-manfaat-1 p {
   width: 80%;
}

.pola-hidup-sehat {
   padding: 20px;
   text-align: center;
}

.pola-hidup-sehat .container-pola {
   display: flex;
 
   /* Properti lainnya */
   width: 1000px;
   height: 500px;
   
   padding: 20px;
   border-radius: 10px;
   margin: 0 auto;
}

.container-pola .box-card {
   flex-grow: 1;
 
           /* properti lainnya */
           max-width: 25%;
           background-color: white;
           margin: 5px;
           border: 2px solid lightgray;
           border-radius: 10px;
           overflow: hidden;
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pola-hidup-sehat h2 {
   text-align: center;
}

.pola-hidup-sehat p {
   width: 50%;
   margin-left: 25%;
   margin-right: 50%;
   text-align: center;
}

.box-card img {
   width: 100%;
}

.box-card h2 {
   text-align: center;
}

.box-card p {
   width: 90%;
   margin-left: 10px;
   margin-right: 10px;
   text-align: left;
}

.kalkulator-imt {
   padding: 20px;
   text-align: center;
}

.container-kalkulator {
 
           /* Properti lainnya */
           width: 1000px;
           height: 500px;
           padding: 20px;
           border-radius: 10px;
           margin: 0 auto;

}

.box-kalkulator1 {
 
           /* properti lainnya */
           width: 40%;
           float: left;
           margin: 5px;
}

.box-kalkulator2 {
   float: right;
   border: 2px solid transparent;
   border-radius: 10px;
   overflow: hidden;
}

.box-kalkulator2 img {
   width: 500px;
}



input[type=number]  {width: 100%;
   padding: 10px;
   margin: 10px;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.submit {
   width: 100%;
   background-color: #4CAF50;
   color: white;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 10px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   
 } 
body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
}

aside {
   margin-top: 100px;
   text-align: center;
}

.container-aside {
   /* Properti lainnya */
   width: 1000px;
   height: 500px;
   padding: 20px;
   border-radius: 10px;
   margin: 0 auto;
}

.foto-profil {
   float: left;
}

.biodata-diri {
   float: right;
   width: 50%;
}

footer {
   background-color: #4CAF50;
   padding: 20px;
}

footer p {
   color: white;
}


@media screen and (max-width: 800px) {
   .flex-row-manfaat {
      width: 100%;
       flex-direction: column;
   }

   .img-fluid {
      margin-top: 20px;
   }

   nav a {
      display: block;
      text-align: center;
   }

   .navbar-brand {
      margin-right: 0;
   }
   
   nav {
      position: relative;
   }

   .jumbotron {
      height: 0;
      min-height: 285px;
      margin-top: 0;
   }

   .jumbotron .container {
      max-width: 300px;
    margin-top: 0px;
    font-size: 1.3em;
   }

   .display-text {
      position: relative;
   }

   .manfaat .container {
      display: block;
      height: 100%;
   }
   
   .manfaat .box {
      max-width: 100%;

   }

   .pola-hidup-sehat .container-pola {
      display: block;
    
      /* Properti lainnya */
      width: 100%;
      height: 100%;
      
      padding: 20px;
      border-radius: 10px;
      margin: 0 auto;
   }

   .container-pola .box-card {
      max-width: 100%;
      margin-top: 20px;
   }

   .box-kalkulator1 {
      float: none;
      width: 90%;
   }

   .box-kalkulator2 {
      width: 90%;
      float: left;
   }

   .box-kalkulator2 img {
      width: 100%;
   }

   .container-kalkulator {
      width: 100%;
   }

   .container-aside {
      width: 100%;
   }

   .foto-profil {
      float: none;
   }
   
   .biodata-diri {
      float: none;
      width: 100%;
      text-align: center;
   }

   footer {
      background-color: #4CAF50;
      padding: 20px;
   }

   footer p {
      color: white;
   }
}